.navbar{
  background-image: linear-gradient(to bottom right, orange, red);
  width: 100vw;
  position: fixed-top;
  font-family: 'Iceberg';
  font-size:larger;
}

.navlinks {
  text-align: left;
  margin: 2vw;
  text-decoration: none;
}
/* 
.components {
text-align: left;
} */
.card{
  position:top -40px ;
  display:flex;
  margin: 5px;
  padding: 20px;
  justify-content: space-between;

  
}
.cardbody {
  overflow:hidden;
  box-shadow: 0 2px 25px ;
  border-radius: 20px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-around;
  cursor: pointer;
  transition:transform 200ms eas;
  width: 25%;
}

img{
  height: auto;
  width: 80%;
  object-fit: cover;
}