.navbar{
  background-image: linear-gradient(to bottom right, orange, red);
  width: 100vw;
  position: fixed;
  font-family: 'Iceberg';
  font-size:larger;
}

.navlinks {
  text-align: left;

  margin: 2vw;
}
/* 
.components {
text-align: left;
} */